{% extends 'admin/mainAdmin.html' %}
{% block title %}delete categorie{% endblock %}
{%block content %}
<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">


			<p>Etes-vous sûr que vous voulez supprimer "{{categorie.nomCat}}"?</p>


			<form action="{% url 'deleteCategorie' categorie.id  %}" method="POST">

				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'listCategorie' %}">Cancel</a>

				<input class="btn btn-danger" type="submit" name="Confirm" value="Confirm">
			</form>
		</div>
	</div>
</div>

{% endblock %}