{% extends 'admin/mainAdmin.html' %}
{% block title %}delete Client{% endblock %}
{%block content %}
<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">


			<p>Etes-vous sûr que vous voulez supprimer "{{client.user.get_full_name}}"?</p>


			<form action="{% url 'deleteclient' client.id  %}" method="POST">

				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'clientDetaille' client.id %}">Cancel</a>

				<input class="btn btn-danger" type="submit" name="Confirm" value="Confirm">
			</form>
		</div>
	</div>
</div>

{% endblock %}